#container {
    margin: 0 auto;
    width: 1610px;
}

.banner-left {
    width: 270px;
    height: 791px;
}

.banner-left-side {
    width: 270px;
    height: 791px;
    float: left;
}

.slideshow {
    width: 1060px;
    height: 790px;
    position: relative;
    margin-left: 280px;
}

.slideshow-container {
    width: 1040px;
    height: 789px;
    padding: 5px;
    overflow: hidden;
}

ul.carousel {
    list-style: none outside none;
}

.slide {
    z-index: 100;
}

.banner-right {
    width: 270px;
    height: 791px;
}

.banner-right-side {
    width: 270px;
    height: 791px;
    float: right;
}

.clear {
    clear: both;
}

.navigation {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

a.slides-prev {
    background: url("../js/ux/images/custom/slideshow/navigate-left-icon.png") no-repeat scroll center top transparent;
    height: 54px;
    margin-left: 12px;
    margin-top: -438px;
    position: absolute;
    width: 64px;
    z-index: 10;
}

a.slides-next {
    background: url("../js/ux/images/custom/slideshow/navigate-right-icon.png") no-repeat scroll center top transparent;
    height: 54px;
    margin-left: 975px;
    margin-top: -438px;
    position: absolute;
    width: 64px;
    z-index: 10;
}

button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background: #514848;
    height: 27px;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 5px 23px;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

button:hover {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background: #f28c29;
    color: #ffffff;
    height: 27px;
    cursor: pointer;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 5px 23px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*
.slides-next.disabled,
.slides-prev.disabled {
    display: none;
    cursor:auto;
}*/
