.colorpicker {
    width: 314px;
    height: 319px;
    overflow: hidden;
    position: absolute;
    background: url(../images/colorpicker/colorpicker_background2.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index: 20;

    -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow:    0px 7px 16px 0px rgba(0, 0, 0, 0.73);
    box-shadow:         0px 7px 16px 0px rgba(0, 0, 0, 0.73);
}
.colorpicker_color {
    width: 219px;
    height: 170px;
    left: 30px;
    top: 48px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 219px;
    height: 170px;
    background: url(../images/colorpicker/colorpicker_overlay.png);
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../images/colorpicker/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 47px;
    left: 261px;
    width: 35px;
    height: 171px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(../images/colorpicker/colorpicker_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    border: 1px solid #797878;
    position: absolute;
    width: 33px;
    height: 16px;
    left: 263px;
    top: 233px;
    background: #f00;
}
.colorpicker_current_color {
    display: none;
    position: absolute;
    width: 31px;
    height: 16px;
    left: 263px;
    top: 232px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    left: 4px;
    right: 11px;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 11px;

    outline: none;

    &:focus {
        outline: none;
    }
}
.colorpicker_hex {
    border: 1px solid #797878;
    position: absolute;
    width: 61px;
    height: 15px;
    left: 39px;
    top: 233px;
}

.colorpicker_field {
    height: 15px;
    width: 32px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 11px;
    height: 12px;
    overflow: hidden;
    top: 1px;
    left: -11px;
    text-transform: uppercase;
    font: 10px $gMedium;
    color: #706f6f;
}

.colorpicker_hex span {
    position: absolute;
    width: 11px;
    height: 12px;
    overflow: hidden;
    top: 1px;
    left: -11px;
    text-transform: uppercase;
    font: 10px $gMedium;
    color: #706f6f;
}
.colorpicker_rgb_r {
    border: 1px solid #797878;
    top: 233px;
    left: 117px;
}
.colorpicker_rgb_g {
    border: 1px solid #797878;
    top: 233px;
    left: 167px;
}
.colorpicker_rgb_b {
    border: 1px solid #797878;
    top: 233px;
    left: 215px;
}
.colorpicker_hsb_h {
    display: none;
    background-image: url(../images/colorpicker/colorpicker_hsb_h.png);
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    display: none;
    background-image: url(../images/colorpicker/colorpicker_hsb_s.png);
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    display: none;
    background-image: url(../images/colorpicker/colorpicker_hsb_b.png);
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    @extend .mt__submit-input;

    position: absolute;
    left: 30px;
    top: 276px;
    overflow: hidden;
    padding: 4px 25px;
    font-size: 16px;
    cursor: pointer;
}

.colorpicker_reset {
    @extend .mt__submit-input;

    position: absolute;
    left: 175px;
    top: 276px;
    overflow: hidden;
    padding: 4px 25px;
    font-size: 16px;
    cursor: pointer;
}

.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}
