@font-face {
  font-family: 'gothamBold';
  src: url("../fonts/gothaprobol-webfont.eot");
  src: url("../fonts/gothaprobol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothaprobol-webfont.woff") format("woff"), url("../fonts/gothaprobol-webfont.ttf") format("truetype"), url("../fonts/gothaprobol-webfont.svg#gotham_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamLigh';
  src: url("../fonts/gothaprolig-webfont.eot");
  src: url("../fonts/gothaprolig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothaprolig-webfont.woff") format("woff"), url("../fonts/gothaprolig-webfont.ttf") format("truetype"), url("../fonts/gothaprolig-webfont.svg#gotham_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamRegular';
  src: url("../fonts/gothaproreg-webfont.eot");
  src: url("../fonts/gothaproreg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothaproreg-webfont.woff") format("woff"), url("../fonts/gothaproreg-webfont.ttf") format("truetype"), url("../fonts/gothaproreg-webfont.svg#gotham_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamMedium';
  src: url("../fonts/gothapromed-webfont.eot");
  src: url("../fonts/gothapromed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothapromed-webfont.woff") format("woff"), url("../fonts/gothapromed-webfont.ttf") format("truetype"), url("../fonts/gothapromed-webfont.svg#gotham_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
a[title='JavaScript charts'] {
  display: none !important;
}

.graph {
  width: 430px;
  height: 125px;
}
