@media (max-width: 480px) {
  .catalog__item {
    width: 45%;
    margin-left: 5%;
  }

  .head__list_page_inner {
    display: none;
  }

  .head__nav_page_inner {
    position: relative;
    width: 100%;
  }

  .head__list.head__list_has_displayed {
    display: block;
    background: #fff;
    margin: 30px -20px 0;
  }
  .head__list li {
    display: block;
    text-align: center;
  }

  .head__link {
    color: #f90;
  }

  .head__nav-ico {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    background: url(../images/small__nav-ico.png) 100% 0 no-repeat;
  }

  .menu__list.menu__list_position_left {
    display: none;
  }
  .menu__list.menu__list_position_right {
    display: none;
  }
  .menu__list.menu__list_position_center {
    overflow: visible;
  }

  .menu__counter {
    float: left;
  }

  .catalog__add {
    display: block;
  }

  .menu__list li {
    margin: 2px 0 1px 0;
  }
  .menu__list .menu__item {
    background: url(../images/menu__ico.png) 50% 0 no-repeat;
    color: transparent;
    text-indent: -9999px;
    padding: 5px 0;
  }
  .menu__list .menu__item.menu__item_ico_share {
    background-position: 50% 0;
  }
  .menu__list .menu__item.menu__item_ico_download {
    background-position: 67% -34px;
  }
  .menu__list .menu__item.menu__item_ico_mail {
    background-position: 50% -74px;
  }
  .menu__list .menu__item.menu__item_ico_slide {
    background-position: 50% -107px;
  }
  .menu__list .menu__item:hover {
    color: transparent;
    text-indent: -9999px;
    border: none;
  }
}
