html, body, div, span, iframe, form, label,
h1, h2, h3, h4, h5, h6,
table, caption, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
   /* vertical-align: baseline;*/
    background: transparent;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    min-height: 100% !important;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

/* Menu panel and menu items
---------------------------------------------------------------------------*/
.menu {
    padding: 70px 20px 10px 500px;
    height: 62px;
    display: block;
}

.menuitem {
    padding: 8px;
    display: table-cell;
}

.menuitem a, .menuitem:link a, .menuitem:visited a {
    width: 150px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.menuitem:hover a, .menuitem:active a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    border-radius: 4px;
    color: black;
}

.container {
    padding: 8px;
    display: table-cell;
}

.container div.menuitem {
    display: block;
}

/* Logout link
----------------------------------------------------------------------------*/
.logout_link:link, .logout_link:visited {
    width: 50px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 25px;
    text-decoration: none;
}

.logout_link:hover, .logout_link:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0px 0px 0px 25px;
}

.logout_link img {
    border: none;
    float: right;
    width: 15px;
    height: auto;
}

/* Main content
----------------------------------------------------------------------------*/
.wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 100% !important;
    height: 100%;
  /*  background: url(images/bg-content2.png) repeat-x;*/
    background-color: #cecece;
   /* background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; *//* gecko based browsers *//*
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; *//* webkit based browsers *//*
    */
}

/* Header
-----------------------------------------------------------------------------*/
.headerpage {
    height: 130px;
    background: url(images/bg-header.png) repeat-x;
}

.logo-img {
    background: url(images/logo1s.png) no-repeat;
    position: absolute;
    top: 56px;
    left: 50px;
    height: 62px;
    width: 190px;
}

.logo-login {
    background: url(images/login.png) no-repeat;
    float: right;
    height: 26px;
    display: block;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    padding: 0 180px 4px 22px;
    margin: 15px 5px 5px 5px;
    vertical-align: middle;
}

.copyright {
    float: right;
    height: 26px;
    display: block;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    padding: 0 180px 4px 22px;
    margin: 30px 5px 5px 5px;
    vertical-align: middle;
}


.first-link {
    float: right;
}

.toolbar {
    float: right;
    display: block;
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
   /* height: auto;*/
    min-height: 755px;
   /* min-height: 100%;*/
}

.content-login-form {
    width: 600px;
    top: 50%;
    left: 50%;
    margin: 200px auto auto auto;
    min-height: 556px;
}

/* Login form style
-----------------------------------------------------------------------------*/
.loginform {
    border: none;
    /*padding: 150px 10px 0px 50px;*/
    /*padding: 0 150px 0 150px;*/
    background: transparent;
    width: 900px;
    height: 350px;
    display: table;
    text-align: right;
    margin-left: -70px;
}

.loginform label {
    padding: 2px 10px 2px 2px;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.loginform .logininput {
    width: 180px;
    padding: 2px 0 2px 2px;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
}

.loginform h1 {
    padding: 10px 2px 2px 10px;
    font-size: 25px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #ccccff;
    text-align: left;
    color: #88a7db;
}

.loginform .mainbutton {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
    width: 80px;
}

.loginform .login_picture {
    background: url(images/camera.png) no-repeat;
    height: 39px;
    border: none;
    vertical-align: bottom;
    padding: 2px 2px 20px 80px;
}

.loginform-note {
    padding: 20px;
    text-align: center;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    min-width: 1000px;
    height: 90px;
    background: url(images/bg-footer.png) repeat-x;
}

/* Error message
----------------------------------------------------------------------------*/
.errormessage {
    color: #e30e0e;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    text-decoration: none;
}

/* mini icons actions
----------------------------------------------------------------------------*/
.view, .edit {
    border: none;
    text-decoration: none;
    padding: 2px;
    display: table-cell;
    float: right;
}

.view img, .edit img{
    border: none;
    text-decoration: none;
    padding: 4px;
    width: 12px;
    height: auto;
}

.view:link, .edit:link, .view:visited, .edit:visited{
    border: none;
}

.view:hover, .edit:hover, .view:active, .edit:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.rotateright, .rotateleft {
    border: none;
    text-decoration: none;
    padding: 2px;
    display: table-cell;
    float: left;
}

.rotateright img, .rotateleft img{
    border: none;
    text-decoration: none;
    padding: 4px;
    width: 12px;
    height: auto;
}

.rotateright:link, .rotateleft:link, .rotateright:visited, .rotateleft:visited{
    border: none;
}

.rotateright:hover, .rotateleft:hover, .rotateright:active, .rotateleft:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.hidden-iframe {
    display: none;
}

.toolbar-tablet {
    margin-left: -320px !important;
}