/*!
 * Ext JS Library 3.2.1
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
#images-view .x-panel-body {
/*background: white;*/
    font: 11px Arial, Helvetica, sans-serif;
}

#images-view .thumb {
     background: none;
    height: 100%;
    border: none;
    display: block;
    margin: 0 auto;
}

#images-view .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 4px; /* border: 1px solid #ffffff; */
    border: none;
}

#images-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

#images-view .x-view-over {
    border: none;
    background: #f28c29;
    background: -moz-linear-gradient(top, #f28c29, #ffffff); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f28c29), to(#ffffff)); /* webkit based browsers */
    padding: 4px;
}

#images-view .x-view-selected {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    border: none;
    padding: 4px;
}

#images-view .x-view-selected .thumb {
    background: transparent;
}

#images-view .loading-indicator {
    font-size: 11px;
    background-image: url("../../ext-3.2.1/resources/images/default/grid/loading.gif");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

#purch-view .x-form-check-wrap input, #tagapproval-view .x-form-check-wrap input{
    vertical-align: baseline;
    margin: 3px 0 3px 5px;
}

#images-view .x-btn-text, #bottombuttons .x-btn-text, #purch-view .x-btn-text,#contact-view .x-btn-text, #tagapproval-view .x-btn-text,
#helpyour-view .x-btn-text, #emailSettingsPanel .x-btn-text, .search-panel .x-btn-text, #banner-view .x-btn-text,
#settings-view .x-btn-text, #staffPanel .x-btn-text {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#images-view .x-btn button, #images-view .x-btn-over button, #tagapproval-view .x-btn button, #purch-view .x-btn button, #purch-view .x-btn-over button, #tagapproval-view .x-btn-over button, #banner-view .x-btn button, #banner-view .x-btn-over button,
#bottombuttons .x-btn button, #bottombuttons .x-btn-over button, #helpyour-view .x-btn button, #helpyour-view .x-btn-over button,
#emailSettingsPanel .x-btn button, #emailSettingsPanel .x-btn-over button, .search-panel .x-btn button, .search-panel .x-btn-over button,
#settings-view .x-btn button, #settings-view .x-btn-over button, #staffPanel .x-btn button, #staffPanel .x-btn-over button,#contact-view .x-btn button, #contact-view .x-btn-over button {
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 1px 5px;
    height: 25px;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    /*width: auto;*/
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background: none;
}

/*#images-view .x-btn button,*/ #tagapproval-view .x-btn button, #purch-view .x-btn button, #buttonPanel2 .x-btn button, #buttonPanel .x-btn button, #bottombuttons .x-btn button, #helpyour-view .x-btn button,
#emailSettingsPanel .x-btn button, .search-panel .x-btn button, #settings-view .x-btn button, #staffPanel .x-btn button,  #contact-view .x-btn button, #banner-view .x-btn button{
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*#images-view .x-btn-over button, */#tagapproval-view .x-btn-over button, #purch-view .x-btn-over button, #buttonPanel2 .x-btn-over button, #buttonPanel .x-btn-over button, #bottombuttons .x-btn-over button, #helpyour-view .x-btn-over button,
#emailSettingsPanel .x-btn-over button, .search-panel .x-btn-over button, #settings-view .x-btn-over button, #staffPanel .x-btn-over button, #contact-view  .x-btn-over button, #banner-view .x-btn-over button{
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#images-view .x-btn-icon button, #helpyour-view .x-btn-icon button,
#userManagementPanel .x-btn-icon button, #settings-view .x-btn-icon button,  #contact-view .x-btn-icon button,#tagapproval-view .x-btn-icon button, #purch-view .x-btn-icon button {
    height: 16px;
}


/*#paypal-btn{
    width:145px;
}
#paypal-btn .x-btn button{
   width: 145px;
}*/

#images-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar {
    border: none;
    background: transparent;
}

#purch-view .x-panel-tl, #tagapproval-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar  {
    border: none;
    background: transparent;
}


#banner-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar  {
    border: none;
    background: transparent;
}


#contact-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar  {
    border: none;
    background: transparent;
}

#settings-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar {
    border: none;
    background: transparent;
}

#helpyour-view .x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-tl, .x-panel-tr,
.x-panel-bl, .x-panel-br, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bc,
.x-panel-body, .x-toolbar {
    border: none;
    background: transparent;
}

#images-view .x-panel-header-text, #tagapproval-view .x-panel-header-text, #purch-view .x-panel-header-text, #banner-view .x-panel-header-text,
#helpyour-view .x-panel-header-text, #request-view .x-panel-header-text, #saved-purch-view .x-panel-header-text,
#userManagementPanel .x-panel-header-text, #emailSettingsPanel .x-panel-header-text,#contact-view .x-panel-header-text,
#settings-view .x-panel-header-text, .grid-view-header-text {
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

#images-view .x-panel-header, #tagapproval-view .x-panel-header, #purch-view .x-panel-header, #banner-view .x-panel-header,
#helpyour-view .x-panel-header, #request-view .x-panel-header,  #saved-purch-view .x-panel-header,
#userManagementPanel .x-panel-header, #emailSettingsPanel .x-panel-header,
#settings-view .x-panel-header, #contact-view .x-panel-header, .grid-view-header {
    border: none;
    background: transparent;
}

.grid-view-header{
    padding: 2px;
    font-weight: bold;
}

#images-view .xtb-text, #tagapproval-view .xtb-text, #purch-view .xtb-text, #helpyour-view .xtb-text, #settings-view .xtb-text, #contact-view  .xtb-text, #banner-view .xtb-text  {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
    padding: 5px 5px 5px 10px;
}

#images-view input, #tagapproval-view input, #purch-view input, #helpyour-view input, #searchPanel .input, #request-view input,#saved-purch-view input
#emailSettingsPanel input, #settings-view input, #staffPanel input, #contact-view input, #purch-view input, #banner-view input {
    border: none;
    background: #ffffff no-repeat;
}

#images-view .x-form-trigger, #tagapproval-view .x-form-trigger, #purch-view .x-form-trigger, #helpyour-view .x-form-trigger,
#searchPanel .x-form-trigger, #userPanel .x-form-trigger, #request-view .x-form-trigger, #saved-purch-view .x-form-trigger, #banner-view  .x-form-trigger,
#emailSettingsPanel .x-form-trigger, #settings-view .x-form-trigger {
    background-image: url("images/custom/form/trigger.png");
    border: none;
}

#searchPanel .x-form-date-trigger, #settings-view .x-form-date-trigger, #tagapproval-view .x-form-date-trigger, #purch-view .x-form-date-trigger {
    background-image: url("images/custom/form/date-trigger.png");
    border: none;
}

.x-date-middle, .x-date-left, .x-date-right {
    border: none;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat;
}

.x-date-left a {
    background-image: url("images/custom/shared/left_btn.png");
}

.x-date-inner th {
    background: #666666;
    background: -moz-linear-gradient(top, #cccccc, #666666) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#666666)) no-repeat;
    border-bottom-color: #666666;
    color: #333333;
    font: 10px arial, helvetica, tahoma, sans-serif;
}

.x-date-bottom{
   border: none;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat;
    
}

.x-date-right a {
    background-image: url("images/custom/shared/right_btn.png");
}

.x-date-inner .x-date-selected a {
    border: #333333 solid 1px;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat;
}

.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover {
    background-color: #999999;
}

.x-date-middle .x-btn .x-btn-text {
    font-weight: bold;
    font-size: 12px;
}

.x-date-mp-btns {
    border: #333333 solid 1px;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat;
}

.x-date-mp-btns button, .x-date-mp-btns button, .x-date-bottom button{
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    border: none;
}

td.x-date-mp-sel a {
    background: #cccccc;
    border-color: #666666;
}

td.x-date-mp-month a, td.x-date-mp-year a {
    color: #333333;
}

td.x-date-mp-month a:hover, td.x-date-mp-year a:hover {
    background: #cccccc;
    color: #333333;
}

.x-date-mp-ybtn a {
    background-image: url("images/custom/panel/tool-sprites.png");
}

#images-view .x-tbar-page-prev, #selectedImage .x-tbar-page-prev,
#locationGrid .x-tbar-page-prev, #camerasGrid .x-tbar-page-prev, #packagesGrid .x-tbar-page-prev,
#userManagementPanel .x-tbar-page-prev, .grid-view .x-tbar-page-prev {
    background-image: url("images/custom/grid/page-prev.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-tbar-page-first, #selectedImage .x-tbar-page-first,
#locationGrid .x-tbar-page-first, #camerasGrid .x-tbar-page-first, #packagesGrid .x-tbar-page-first,
#userManagementPanel .x-tbar-page-first, .grid-view .x-tbar-page-first {
    background-image: url("images/custom/grid/page-first.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-tbar-page-last, #selectedImage .x-tbar-page-last,
#locationGrid .x-tbar-page-last, #camerasGrid .x-tbar-page-last, #packagesGrid .x-tbar-page-last,
#userManagementPanel .x-tbar-page-last, .grid-view .x-tbar-page-last {
    background-image: url("images/custom/grid/page-last.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-tbar-page-next, #selectedImage .x-tbar-page-next,
#locationGrid .x-tbar-page-next, #camerasGrid .x-tbar-page-next, #packagesGrid .x-tbar-page-next,
#userManagementPanel .x-tbar-page-next, .grid-view .x-tbar-page-next {
    background-image: url("images/custom/grid/page-next.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-item-disabled .x-tbar-page-prev, #selectedImage .x-item-disabled .x-tbar-page-prev,
#locationGrid .x-item-disabled .x-tbar-page-prev, #camerasGrid .x-item-disabled .x-tbar-page-prev,
#packagesGrid .x-item-disabled .x-tbar-page-prev, #userManagementPanel .x-item-disabled .x-tbar-page-prev,
.grid-view .x-item-disabled .x-tbar-page-prev {
    background-image: url("images/custom/grid/page-prev-disabled.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-item-disabled .x-tbar-page-next, #selectedImage .x-item-disabled .x-tbar-page-next,
#locationGrid .x-item-disabled .x-tbar-page-next, #camerasGrid .x-item-disabled .x-tbar-page-next,
#packagesGrid .x-item-disabled .x-tbar-page-next, #userManagementPanel .x-item-disabled .x-tbar-page-next,
.grid-view .x-item-disabled .x-tbar-page-next {
    background-image: url("images/custom/grid/page-next-disabled.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-item-disabled .x-tbar-page-first, #selectedImage  .x-item-disabled .x-tbar-page-first,
#locationGrid .x-item-disabled .x-tbar-page-first, #camerasGrid .x-item-disabled .x-tbar-page-first,
#packagesGrid .x-item-disabled .x-tbar-page-first, #userManagementPanel .x-item-disabled .x-tbar-page-first,
.grid-view .x-item-disabled .x-tbar-page-first {
    background-image: url("images/custom/grid/page-first-disabled.png") !important;
    border: none;
    background: transparent;
}

#images-view .x-item-disabled .x-tbar-page-last, #selectedImage .x-item-disabled .x-tbar-page-last,
#locationGrid .x-item-disabled .x-tbar-page-last, #camerasGrid .x-item-disabled .x-tbar-page-last,
#packagesGrid .x-item-disabled .x-tbar-page-last, #userManagementPanel .x-item-disabled .x-tbar-page-last,
.grid-view .x-item-disabled .x-tbar-page-last {
    background-image: url("images/custom/grid/page-last-disabled.png") !important;
    border: none;
    background: transparent; 
}

.x-combo-list {
    border: none;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat; /* webkit based browsers */
    color: #666666;
}

.x-combo-list-inner {
    border: none;
    background: #999999;
    background: -moz-linear-gradient(top, #cccccc, #999999) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)) no-repeat; /* webkit based browsers */
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    overflow: auto;
}

.x-combo-list .x-combo-selected {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    border: none;
    color: #ffffff;
}

.x-combo-list-item {
    border: none;
    background: none;
}

.image_viewer .x-window, .image_viewer .x-window-tl, .image_viewer .x-window-tr, .image_viewer .x-window-tc, .image_viewer .x-window-bwrap,
.image_viewer .x-window-ml, .image_viewer .x-window-mr, .image_viewer .x-window-mc, .image_viewer .x-window-bl, .image_viewer .x-window-br,
.image_viewer .x-window-bc {
    border: none;
    background: #ffffff;
}

.x-window-header-text {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    color: #333333;
}

.x-tool {
    background-image: url("images/custom/panel/tool-sprites.png");
}

.back {
    background-image: url("images/custom/catalogactions/back-arrow.png");
}

.forward-active {
    background-image: url("images/custom/catalogactions/forward-arrow.png");
}

.forward-inactive {
    background-image: url("images/custom/catalogactions/forward-arrow-gray.png");
}

.search-panel .search-label {
    padding: 5px;
    color: #666666;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
}


.search-panel .date-field {
    border: none;
    background: white;
}

.search-panel .time-field {
    border: none;
    background: white;
}

.search-panel .location-combo, .search-panel .camera-combo {
    border: none;
    background: white;
}

.search-button .x-btn-text {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

.show-more-btn {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.show-more-btn .x-btn-text {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

span.date {
    float: right;
    font-weight: bold;
    font-size: 12px; /*font-family: Arial, Tahoma, Verdana, sans-serif;*/
}

span.camera {
    float: left;
    font-weight: bold;
    font-size: 12px; /*font-family: Arial, Tahoma, Verdana, sans-serif;*/
}

span.x-editable {
    font-weight: bold;
    font-size: 12px;
}

#tagapproval-view .x-table-layout, #purch-view .x-table-layout, #banner-view .x-table-layout, #helpyour-view .x-table-layout, #request-view .x-table-layout, #saved-purch-view .x-table-layout, #settings-view .x-table-layout {
    border: none;
}

#searchPanel .x-table-layout-cell{
    border: none;
    vertical-align:middle;
    padding: 0 5px 0 0;
}

#searchPanel .x-column {
    margin: 0 50px!important;
}

#helpyour-view .x-table-layout-cell,
#request-view .x-table-layout-cell,#saved-purch-view .x-table-layout-cell,
#emailSettingsPanel .x-table-layout-cell {
    padding: 10px 5px 5px 5px;
    vertical-align: top;
}

#purch-view .x-table-layout-cell  {
    padding: 10px 2px 2px 2px;
    vertical-align: middle;
}

#tagapproval-view  .x-table-layout-cell{
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
}

#banner-view .x-table-layout-cell {
    padding: 10px;
    vertical-align: top;
}

#settings-view .x-table-layout-cell, #staffPanel .x-table-layout-cell {
    padding: 5px 5px 5px 5px;
    vertical-align: top;
}

#textLogoPaneL .x-table-layout-cell, #secondLogoPanel .x-table-layout-cell, #mainLogo-view .x-table-layout-cell {
    padding: 0px 2px 0px 2px;
    vertical-align: middle;
}

#purch-view textarea, #tagapproval-view textarea, #helpyour-view textarea, #banner-view textarea{
    border: none;
    background: #ffffff no-repeat;
}

.p_labels {
    padding: 2px 10px 2px 2px;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.p_labels_total {
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.p_labels_total_price {
    padding: 2px 10px 2px 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}



.p_labels_purch {
    padding: 0px 0px;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.p_labels_purch_bold {
    padding: 0px 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.p_labels_purch_menu {
    padding: 2px 10px;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}


.main_logo_p_labels {
    padding: 10px 10px 2px 2px;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

.p_labels_bold {
    padding: 2px 10px 2px 2px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.purchase_pict {
    padding: 5px;
    position: relative;
    display: block;
}

.purchase_pict_selected {
    padding: 5px;
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    position: relative;
    display: block;
}

.purchase_watermark_box_img {
    position: relative;
    z-index: 1;
    width: auto;
    height: 135px;
}

.purchase_watermark_text {
    position: relative;
    bottom: 20px;
    text-align: center;
    z-index: 2;
    width: 220px;
    height: 0px;
    font-size: 10px;
    font-family: Comic Sans MS, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
}

.purchase_watermark_text.true{
    font-size: 5px;
}

.purchase_watermark_logoimg {
    position: absolute;
    left: 32px;
    top: 110px;
    width: 30px;
    z-index: 2;
}

.purchase_watermark_logoimg.true {
    left: 72px;
    width: 20px;
}

.purchase_watermark_logoimg.special{
   left: 15px;
}

.purchase_watermark_logoimg.true.special{
    left: 80px;
}

.purchase_watermark_logoimg_second {
    position: absolute;
    top: 110px;
    right: 32px;
    width: 30px;
    z-index: 3;
}

.purchase_watermark_logoimg_second.true{
    right: 72px;
    width: 20px;
}

.purchase_watermark_logoimg_second.special{
    right: 15px;
}

.purchase_watermark_logoimg_second.true.special{
    right: 80px;
}


.purchase_action {
    width: 20px;
    padding: 8px;
    border: none;
    text-decoration: none;
    margin: 0px 0px 0px 20px;
}

.purchase_action:link, .purchase_action:visited {
    border: none;
}

.purchase_action:hover, .purchase_action:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.purchase_action img {
    width: 15px;
    height: auto;
    border: none;
}

.purchase_export_action {
    display: block;
    border: none;
}

.purchase_export_action_flick, .purchase_export_action_flick_selected {
    display: block;
    border: none;
    text-align: left;
}

.purchase_export_action_selected img, .purchase_export_action_flick_selected img {
    padding: 5px;
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29));
}

.purchase_export_action_flick img:link, .purchase_export_action_flick img:visited,
.purchase_export_action img:link, .purchase_export_action img:visited {
    border: none;
}

.purchase_export_action_flick img:hover, .purchase_export_action_flick img:active,
.purchase_export_action img:hover, .purchase_export_action img:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.purchase_export_action img, .purchase_export_action_flick img {
    width: 30px;
    height: auto;
    border: none;
    padding: 2px;
}

#selectedImage .x-table-layout-cell {
    padding: 5px;
    vertical-align: middle;
}

#selectedImage .x-panel, .x-grid-panel, .x-panel-bwrap, .x-panel-body, .x-grid3, .x-grid3-viewport, .x-grid3-header,
.x-grid3-header-inner, .x-grid3-header-offset, .x-grid3-hd-row {
    border: none;
    background: transparent;
}

#selectedImage .x-grid3-hd-row td, #selectedImage .x-grid3-row, #selectedImage .x-grid3-summary-row td,
#selectedImage .x-grid3-row-table td {
    border: none;
    background: transparent;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px 0 10px
}

#selectedImage .x-grid3-hd-row td {
    color: #666666;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.ext-gecko, .ext-gecko3 {
    height: auto;
}

.ux-lovcombo-icon {
    width: 16px;
    height: 16px;
    float: left;
    background-position: -1px -1px ! important;
    background-repeat: no-repeat ! important;
}

.ux-lovcombo-icon-checked {
    background: transparent url('images/custom/menu/checked.png');
}

.ux-lovcombo-icon-unchecked {
    background: transparent url('images/custom/menu/unchecked.png');
}

#selectedImage .x-grid3-row-selected, #selectedImage .x-grid3-row-over {
    background: transparent;
    border: none;
}

#selectedImage .x-grid3-row-selected, #selectedImage .x-grid3-row-first, #selectedImage .x-grid3-row-over {
    background: none;
    border: none;
}

.x-grid3-row-selected, .x-grid3-row-first, .x-grid3-row-over, .x-grid3-row {
    background: none;
    border: none;
}

.x-grid3-row-selected {
    background: none !important;
    border: none;
}

.x-grid3-col, .x-grid3-cell, .x-grid3-td-2, .x-grid3-cell-selected {
    background: none !important;
    border: none;
}

#purch-view .x-btn-tl,#tagapproval-view .x-btn-tl,  #purch-view .x-btn-tr,#tagapproval-view .x-btn-tr, #helpyour-view .x-btn-tl, #helpyour-view .x-btn-tr,
#settings-view .x-btn-tl, #settings-view .x-btn-tr, #contact-view .x-btn-tr, #banner-view .x-btn-tr {
    border: none;
    background: none;
}

.selDeselPanel {
    padding: 0px 0px 0px 185px;
}

.label_deselLinks {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
}

.selDeselPanel_label {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: underline;
}

.selDeselPanel_label:link, .selDeselPanel_label:visited {
    border: none;
}

.selDeselPanel_label:hover, .selDeselPanel_label:active {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

#selectedImage .x-table-layout-cell {
    padding: 5px;
    vertical-align: middle;
}

#menu .x-btn-text {
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#menu .x-btn button, #menu .x-btn-over button {
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 1px 5px;
    height: 25px;
    margin: 0px 15px 0px 15px;
    outline: 0 none;
    overflow: visible;
    width: auto;
}

#menu .x-btn button{
    background: none;
    border: none;
}

.x-btn-noicon .x-btn-small .x-btn-text {
    height: 25px;
}

.x-menu-item-active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    color: #333333;
    border: none;
}

a.x-menu-item {
    color: #FFFFFF;
}

a.x-menu-item {
    cursor: pointer;
    display: block;
    line-height: 16px;
    outline: 0 none;
    padding: 3px 21px 3px 27px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.x-menu-list-item {
    font: 14px Arial, Tahoma, Verdana, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

.x-menu-item-active a.x-menu-item {
    border: none;
    color: #333333;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background: none;
}

#menu .x-btn-over button {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #333333;
}

.x-menu-floating {
    border: none;
}

.x-menu {
    background: #333333;
    background: -moz-linear-gradient(top, #999999, #333333) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333)) no-repeat; /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

#userManagementPanel .x-toolbar div.xtb-text {
    display: block;
    line-height: 16px;
    padding: 2px 8px 2px 0px;
}

#userManagementPanel .x-grid3-cell-inner {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    border: none;
    background: none;
    padding: 5px;
}

/*#saved-purch-view .x-grid3-cell-inner, #saved-purch-view .x-grid3-hd-inner {
    white-space: normal;

}*/

.x-selectable, .x-selectable * {
    -moz-user-select: text!important;
    -khtml-user-select: text!important;
    -webkit-user-select: text!important;
}

/*.x-grid3-row td,
.x-grid3-summary-row td,
.x-grid3-cell-text,
.x-grid3-hd-text,
.x-grid3-hd,
.x-grid3-row
{
    -moz-user-select: inherit;
    -khtml-user-select: text;
    -webkit-user-select: text;
}*/

.tag-div select {
  /*  background: url("images/custom/form/trigger.png") no-repeat right;*/
    width: 150px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
}

div.ux-combobox-view{
    position: relative;
    height: 24px;
}

.ux-combobox-view .ux-combobox-input{
    position: absolute;
    top: 1px;
    height: 17px;
    width: 130px;
    z-index: 2;
    border:none;
}

.ux-combobox-view .ux-combobox-dropdownlist{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 150px;
}

#userManagementPanel .x-grid3-hd-inner, .x-grid3-header {
    border: none;
    background: #333333;
    color: #FFFFFF;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}

#userManagementPanel.noborder .x-grid3-viewport {
    border: none !important;
}

#userManagementPanel .x-grid3-viewport {
    border-color: #333333 !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: none;
}

#userManagementPanel .x-panel-bbar {
    border-color: #333333;
    border-width: 1px;
    border-style: solid;
    background: none;
}

#userManagementPanel .x-panel {
    padding: 2px 5px 2px 5px;
}

#userPanel .x-panel-mc {
    font: 12px Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#userManagementPanel .user-edit {
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

#userPanel .x-btn-text, #userManagementPanel .x-btn-text {
    font: 14px Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

#userPanel .x-btn button, #userManagementPanel .x-btn button {
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */
    width: 70px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#userPanel .x-btn-over button, #userManagementPanel .x-btn-over button {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 70px;
    color: black;
}

#userManagementPanel .x-btn button, #userManagementPanel .x-btn-over button {
    padding: 2px 5px 2px 5px;
    width: auto;
}

#userPanel .x-table-layout-cell {
    padding: 2px 2px 2px 2px;
}

#userPanel input {
    border: none;
}

.request_action {
    width: 12px;
    padding: 8px;
    border: none;
    text-decoration: none;
}

.request_action:link, .request_action:visited {
    border: none;
}

.request_action:hover, .request_action:active {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.request_action img {
    width: 10px;
    height: auto;
    border: none;
}

#requestGrid .x-table-layout-cell, #savedPurchaseGrid .x-table-layout-cell {
    padding: 5px;
    vertical-align: middle;
}

.x-panel, .x-grid-panel, .x-panel-bwrap, .x-panel-body, .x-grid3, .x-grid3-viewport, .x-grid3-header,
.x-grid3-header-inner, .x-grid3-header-offset, .x-grid3-hd-row {
    border: none;
    background: transparent;
}

#requestGrid .x-grid3-hd-row td, #selectedImage .x-grid3-row, #selectedImage .x-grid3-summary-row td,
#requestGrid .x-grid3-row-table td {
    border: none;
    background: transparent;
    vertical-align: middle;
    padding: 0 10px 0 10px
}

#savedPurchaseGrid .x-grid3-hd-row td, #savedPurchaseGrid .x-grid3-row-table td {
      border: none;
      background: transparent;
      vertical-align: middle;
}

#requestGrid .x-grid3-hd-row td , #savedPurchaseGrid .x-grid3-hd-row td{
    color: #666666;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.selected-class {
    background: #cccccc;
}
.main_preview_template_string{
     height: 25px;
}

.main_preview {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
}

.main_prev_img {
    position: relative;
    z-index: 1;
  //  width: 640px;
    height: 480px;
    display: block;
    margin: 0 auto;
}

.watermarktext2prev {
    position: relative;
    bottom: 60px;
    text-align: center;
    z-index: 2;
    width: 640px;
    height: 0px;
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
}

.watermarktext2prev.true {
    font-size: 10px;
}

.watermarkprev {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 90px;
    z-index: 2;
}

.watermarkprev.true {
    left: 145px;
    width: 70px;
}

.watermarkmainprev {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 90px;
    z-index: 3;
}

.watermarkmainprev.true{
    right: 145px;
    width: 70px;
}

.watermarkmainprev.special,.watermarkprev.special  {
    bottom: 80px;
}

.watermarkprev.true.special {
    bottom: 30px;
    left: 190px;
}

.watermarkmainprev.true.special {
    bottom: 30px;
    right: 190px;
}

.watermarktext2prev.true.special,.watermarktext2prev.special  {
    bottom: 70px;
}

.watermarktext2prev.false.special  {
    bottom: 110px;
}

.watermark_box {
    position: relative;
    display: block;
    height: 192px;
    width: 256px;
}

.template_string{
    height: 15px;
    position: relative;
}

.watermark {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 45px;
    z-index: 2;
}


.watermarkrotated{
    position: absolute;
    left: 60px;
    bottom: 10px;
    width: 30px;
    z-index: 2;
}

.watermark.special {
    bottom: 30px;
}

.watermarkrotated.special{
    bottom: 10px;
    left: 70px;
}

.watermarkmain {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 45px;
    z-index: 3;
}

.watermarkmainrotated{
    position: absolute;
    bottom: 10px;
    right: 60px;
    width: 30px;
    z-index: 3;

}

.watermarkmain.special{
    bottom: 30px;
}

.watermarkmainrotated.special{
    bottom: 10px;
    right: 70px;
}

.watermarkopaque {
    bottom: 70px;
    left: 20px;
    opacity: 0.5;
    position: absolute;
    width: 220px;
    z-index: 4;
}

.watermarkopaque.true {
    left: 50px;
    width: 150px;

}

.picture-watermark-opaque{
    bottom: 120px;
    left: 20px;
    opacity: 0.5;
    position: absolute;
    width: 400px;
    z-index: 4;
}

.picture-watermark-opaque-single{
    bottom: 280px;
    left: 50px;
    opacity: 0.5;
    position: absolute;
    width: 800px;
    z-index: 10;
}


.picture-watermark-opaque-prev {
    bottom: 200px;
    left: 70px;
    opacity: 0.5;
    position: absolute;
    width: 500px;
    z-index: 4;
}

.picture-watermark-opaque-prev.true{
    left: 140px;
    width: 360px;
}

.watermarktext2false {
    position: relative;
    bottom: 30px;
    text-align: center;
    z-index: 2;
    width: 256px;
    height: 0px;
    font-size: 10px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
}

.watermarktext2true {
    position: relative;
    bottom: 30px;
    text-align: center;
    z-index: 2;
    width: 256px;
    height: 0px;
    font-size: 5px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
}

.watermarktext2false.special{
    bottom: 50px;
}

.watermarktext2true.special{
    bottom: 20px;
}


.image_viewer {
   /* top: 100px !important;*/
}

.preview_picture {
    position: relative;
    display: block;
    width: 638px;
    height: 455px;
    page-break-after: always;
}

.preview_picture_img {
    position: relative;
    z-index: 1;
    width: 638px;
    height: 455px;
}

.preview_picture_watermark_text {
    position: relative;
    bottom: 60px;
    text-align: center;
    z-index: 2;
    width: 638px;
    font-size: 20px;
    font-family: Comic Sans MS, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
}

.preview_picture_watermark_logo {
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: 2;
}

.preview_picture_main_watermark_logo {
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 3;
}

.wrapper_preview {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.picture-wrapper-single {
    background: none;
    z-index: 1;
  /*  height: 900px;
    width: 1200px;*/
  /*  width: 943px;
    height: 710px;*/
    height: 780px;
    width: 1060px;
}

.picture-wrapper-watermark-div-single {
    position: relative;
    display: block;
    padding: 5px;
   /* width: 933px;
    height: 700px;*/
    height: 780px;
    width: 1040px;
    z-index: 2;
}

.picture-single {
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    position: relative;
   /* width: 920px;
    height: 690px;*/
    height: 770px;
    width: 1020px;
    z-index: 10;
}

.picture-wrapper {
    float: left;
    background: none;
 /*   width: 471px;
    height: 360px;*/
    width: 530px;
    height: 400px;
    z-index: 1;
}

.picture-wrapper-watermark-div {
    position: relative;
    display: block;
    padding: 5px;
  /*  width: 453px;
    height: 340px;*/
    width: 510px;
    height: 385px;
    z-index: 2;
}

.picture {
    overflow: hidden;
   /* float: left;*/
    padding: 5px;
    position: relative;
    /*width: 440px;
    height: 330px;*/
    height: 375px;
    /*width: 500px;*/
    z-index: 1;
}

.picture-wrapper-watermark {
    position: absolute;
    /*bottom: 30px;*/
    top: 330px;
    text-align: center;
    z-index: 50;
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
    left: 40%;
}

.picture-wrapper-watermark.true{
    font-size: 10px;
}

.picture-wrapper-watermark-single {
    position: absolute;
   /* bottom: 30px;*/
    top: 650px;
    text-align: center;
    z-index: 15;
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #000000;
    left: 50%;
}

.picture-wrapper-watermark-single.true{
    font-size: 10px;
}


.picture-index {
    position: absolute;
    top: 20px;
   /* bottom: 300px;*/
    right: 25px;
    text-align: right;
    z-index: 90;
    font-size: 35px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #F28C29;
    float: right;
}

.picture-index.true{
    right: 140px;
}
.picture-index-single.true{
    right: 250px;
}

.picture-index.false.special{
    top: 60px;
}

.picture-index-single.false.special{
    top: 110px;
}

.picture-index.true.special {
    right: 150px;
}

.picture-index-single.true.special {
    right: 310px;
}

.picture-index-single {
    position: absolute;
    top: 30px;
    right: 25px;
    text-align: right;
    z-index: 15;
    font-size: 50px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #F28C29;
    float: right;
}

.picture-wrapper-logo-watermark {
    position: absolute;
    left: 20px;
    /*top: 280px;*/
    bottom: 20px;
    width: 50px;
    z-index: 100;
}
.picture-wrapper-logo-watermark.true{
    left: 125px;
}

.picture-wrapper-logo-watermark.true.special{
    left: 160px;
}

.picture-wrapper-logo-watermark.false.special{
    bottom: 70px;
}


.picture-wrapper-logoMain-watermark.true.special{
    right: 160px;
}


.picture-wrapper-logoMain-watermark.false.special{
    bottom: 70px;
}

.picture-wrapper-watermark.false.special{
  top: 300px;
}

.picture-wrapper-watermark.true.special{
    top: 350px;
  }


.picture-wrapper-logo-watermark-single {
    position: absolute;
    left: 20px;
    /*top: 630px;*/
    bottom: 30px;
    width: 50px;
    z-index: 15;
}

.picture-wrapper-logo-watermark-single.true{
    left: 250px;
}

.picture-wrapper-logo-watermark-single.true.special {
    bottom: 60px;
    left: 310px;
}
.picture-wrapper-logo-watermark-single.false.special {
    bottom: 110px;
}

.picture-wrapper-logoMain-watermark {
    position: absolute;
    bottom: 20px;
    /*top: 280px;*/
    right: 20px;
    width: 50px;
    z-index: 15;
}

.picture-wrapper-logoMain-watermark.true{
    right: 125px;
}
.picture-wrapper-logoMain-watermark-single {
    position: absolute;
    bottom: 30px;
    /*top: 630px;*/
    right: 20px;
    width: 50px;
    z-index: 15;
}
.picture-wrapper-logoMain-watermark-single.true{
    right: 250px;
}



.picture-wrapper-logoMain-watermark-single.false.special{
    bottom: 110px;
}

.picture-wrapper-logoMain-watermark-single.true.special{
    bottom: 60px;
    right: 310px;
}

.picture-wrapper-over .picture-wrapper-watermark-div,
.picture-wrapper-over-single .picture-wrapper-watermark-div-single {
    background: -moz-linear-gradient(top, #f28c29, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f28c29), to(#ffffff));
    background: #f28c29;
}

.picture-wrapper-selected .picture-wrapper-watermark-div,
.picture-wrapper-selected-single .picture-wrapper-watermark-div-single{
    background: -moz-linear-gradient(top, #eecf6b, #f28c29);
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29));
    background: #f28c29;
}

.previous *,
.next * {
    background: transparent none;
    border: 0 none;
    padding: 0;
}

.previous-over *,
.next-over * {
    background: transparent none;
    border: 0 none;
    padding: 0;
}

.previous,
.next {
    background: url("images/custom/slideshow/slideshow_arrows_black.png") top center no-repeat;
}

.previous-over, .next-over {
    background: url("images/custom/slideshow/slideshow_arrows_over.png") top center no-repeat;
}

.next {
    background-position: center -54px;
}

.next-over {
    background-position: center -54px;
}

.x-viewport, .x-viewport body {
    background: url(../../css/images/bg-content.png) repeat-x;
    background-color: #ffffff;
}

#slideshow-view .x-btn-text {
    font-size: 13px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#slideshow-view .x-btn button, #slideshow-view .x-btn-over button {
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 1px 5px;
    height: 30px;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    width: 130px;
}

#slideshow-view .x-btn button {

  background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat;
     background: #514848;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#slideshow-view .x-btn-over button {
  background: -moz-linear-gradient(top, #eecf6b, #f28c29);
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29));
     background: #f28c29;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#locationGrid .x-panel-header-text, #camerasGrid .x-panel-header-text, #packagesGrid .x-panel-header-text,
.grid-view .x-panel-header-text {
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

#locationGrid .x-panel-tbar, #locationGrid .x-panel-body, #locationGrid .x-panel-bbar,
#camerasGrid .x-panel-tbar, #camerasGrid .x-panel-body, #camerasGrid .x-panel-bbar,
#packagesGrid .x-panel-tbar, #packagesGrid .x-panel-body, #packagesGrid .x-panel-bbar,
.grid-view .x-panel-tbar, .grid-view .x-panel-body, .grid-view .x-panel-bbar {
    background: none;
    border: #333333 solid 1px;
}

#locationGrid .x-grid3-cell-selected, #camerasGrid .x-grid3-cell-selected, #packagesGrid .x-grid3-cell-selected,
.grid-view .x-grid3-cell-selected  {
    background: #f28c29 !important;
    border: none;
}

#locationGrid .x-panel-body, #camerasGrid .x-panel-body, #packagesGrid .x-panel-body,
.grid-view .x-panel-body {
    border-top: none;
    border-bottom: none;
}

#locationGrid .x-btn-text, #camerasGrid .x-btn-text, #packagesGrid .x-btn-text,
.grid-view .x-btn-text {
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#locationGrid .x-btn button, #locationGrid .x-btn-over button,
#camerasGrid .x-btn button, #camerasGrid .x-btn-over button,
#packagesGrid .x-btn button, #packagesGrid .x-btn-over button,
.grid-view .x-btn button, .grid-view .x-btn-over button {
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 1px 5px;
    height: 25px;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    width: auto;
}

#locationGrid .x-panel-bl  .x-btn button, #locationGrid .x-panel-bl  .x-btn-over button,
#camerasGrid .x-panel-bl  .x-btn button, #camerasGrid .x-panel-bl  .x-btn-over button,
#packagesGrid .x-panel-bl  .x-btn button, #packagesGrid .x-panel-bl  .x-btn-over button,
.grid-view .x-panel-bl .x-btn button, .grid-view .x-panel-bl .x-btn-over button {
    width: 100px;
}

#locationGrid .x-panel-bl .x-btn-text, #camerasGrid .x-panel-bl .x-btn-text, #packagesGrid .x-panel-bl .x-btn-text,
.grid-view .x-panel-bl .x-btn-text {
    font-size: 14px;
}

#locationGrid .x-grid3-row td, .x-grid3-summary-row td,
#camerasGrid .x-grid3-row td, .x-grid3-summary-row td,
#packagesGrid .x-grid3-row td, .x-grid3-summary-row td,
.grid-view .x-grid3-row td, .grid-view .x-grid3-summary-row td {
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    padding: 2px;
}

#locationGrid .x-btn button, #camerasGrid .x-btn button, #packagesGrid .x-btn button,
.grid-view .x-btn button {
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#locationGrid .x-btn-over button, #camerasGrid .x-btn-over button, #packagesGrid .x-btn-over button,
.grid-view .x-btn-over button {
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#locationGrid .x-grid3-header, #camerasGrid .x-grid3-header, #packagesGrid .x-grid3-header,
.grid-view .x-grid3-header {
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */

}

#locationGrid .x-btn-icon button, #camerasGrid .x-btn-icon button, #packagesGrid .x-btn-icon button,
.grid-view .x-btn-icon button {
    height: 16px;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border: none;
}

.x-toolbar .xtb-sep {
    background: none;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border: none;
}

.x-form-focus, textarea.x-form-focus, .x-form-text, textarea.x-form-field {
    border: none;
    background-color: #ffffff;
}

#locationGrid .x-form-field-wrap .x-form-trigger, #camerasGrid .x-form-field-wrap .x-form-trigger,
#packagesGrid .x-form-field-wrap .x-form-trigger, #staffPanel .x-form-field-wrap .x-form-trigger,
.grid-view .x-form-field-wrap .x-form-trigger {
    background-image: url("images/custom/form/trigger.png");
    border: none;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner,
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    padding: 2px;
}

.sort-asc .x-grid3-sort-icon {
    background-image: url("images/custom/grid/sort_asc.png");
}

.sort-desc .x-grid3-sort-icon {
    background-image: url("images/custom/grid/sort_desc.png");
}

.x-window, .x-window-mc {
    background: #ffffff;
    background: -moz-linear-gradient(top, #cccccc, #ffffff) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff)) no-repeat;
    border: none;
}

.x-window-tl, .x-window-tr, .x-window-tc,
.x-window-bl, .x-window-br, .x-window-bc,
.x-window-ml, .x-window-mr, .x-window-body {
    background: none;
    border: none;
}

/*.x-window-body{
    height:50px;
}   */

.x-window-header-text, .ext-mb-text {
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #666666;
}

#staffWindow .x-window, #staffWindow .x-window-mc {
    background: #ffffff;
    background: -moz-linear-gradient(top, #cccccc, #ffffff) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff)) no-repeat;
    border: none;
}

#staffWindow .x-window-tl, #staffWindow .x-window-tr, #staffWindow .x-window-tc, #staffWindow .x-window-bwrap,
#staffWindow .x-window-ml, #staffWindow .x-window-mr, #staffWindow .x-window-bl,
#staffWindow .x-window-br, #staffWindow .x-window-bc {
    background: none;
    border: none;
}

.x-mask-loading div {
    padding: 5px 10px 5px 45px;
    background: no-repeat 5px 5px;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #666666;
    background-image: url("images/custom/shared/large-loading.gif");
}

.ext-el-mask {
    height: 400%;
    background-color: #cccccc;
}

.ext-el-mask-msg {
    background: none;
    border: none;
    width: 200px;
    height: 40px;
    padding: 2px;

}

.ext-el-mask-msg div {
    padding: 10px 10px 5px 55px;
    border: none;
    cursor: wait;
    height: 40px;
}

.x-toolbar-left .x-btn button,.x-toolbar-left .x-btn-over button {
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 1px 5px;
    height: 20px;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    width: auto;
}

.x-toolbar-left .x-btn-text {
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.x-toolbar-left .x-btn button{
    background: #514848;
    background: -moz-linear-gradient(top, #a09f9f, #514848) no-repeat; /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a09f9f), to(#514848)) no-repeat; /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.x-toolbar-left .x-btn-over button{
    background: #f28c29;
    background: -moz-linear-gradient(top, #eecf6b, #f28c29); /* gecko based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eecf6b), to(#f28c29)); /* webkit based browsers */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#contact-view .x-table-layout-cell{
    vertical-align:middle;
    padding: 10px 5px 5px;
}

.payPalBtn {
	background-image: url("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif")  !important;
	align:left;
    margin-right:7px;
    /*height:10px;
	width:10px;	*/
	border: none !important;
    height: 25px !important;
    margin-right: 7px;
    width: 145px !important;
}

.addButton {
	background-image: url("images/custom/button/addbtn.png")  !important;
	align:left;
    margin-right:7px;
    /*height:10px;
	width:10px;	*/
	border: none !important;
    height: 20px !important;

    width: 20px !important;
}

.minusButton {
	background-image: url("images/custom/button/minusbtn.png")  !important;
	align:left;
    margin-right:7px;
    /*height:10px;
	width:10px;	*/
	border: none !important;
    height: 20px !important;

    width: 20px !important;
}

#CONTAINERarea {
   width: 1000px!important;
}

#whizzyarea{
    height:500px!important;
}


#explanation_panel ul{
    list-style:  square outside none;
    padding: 0px 30px !important;
}/*

#images-view .ext-strict, #images-view .x-small-editor, #images-view.x-form-text {
    height: 25px !important;
}

#images-view .ext-strict .x-form-text {
    height: 25px !important;
}

#images-view .x-form-field {
    font: 15px tahoma,arial,helvetica,sans-serif !important;
}

*/
#bottombuttons .x-column{
    margin: 0 25px;
}

.picturetoolbar {
    display: block;
}

/*
#banner_slide .x-box-item{
    position: static;
}
*/

#tagApprovalCompletePanel .x-table-layout-cell{
    padding: 5px 2px 2px 2px;
    vertical-align: baseline;
}

#rfidGrid{
    margin: 10px;
}

#rfidGrid .grid-view-body{
    border: rgba(51, 51, 51, 0.5) solid 1px;
}

#rfidGrid .x-tool{
    float: left;
}

.hform-panel .x-form-item {
    float: left;
    padding-right: 10px;
}

.x-tool-camera{
    background-image: url("images/custom/button/camera.png") !important;
    background-size: contain;
}

#rfidGrid .x-tool-camera{
    float: right; margin-right: 301px;
}
