div.datepicker {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 196px;
    height: 147px;
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    display: none;
}
.datepickerContainer {
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 0 10px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    5px 5px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         5px 5px 16px 0px rgba(0, 0, 0, 0.3);
}
.datepickerBorderT {
    display: none;
    position: absolute;
    left: 10px;
    top: 0;
    right: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_t.png);
}
.datepickerBorderB {
    display: none;
    position: absolute;
    left: 10px;
    bottom: 0;
    right: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_b.png);
}
.datepickerBorderL {
    display: none;
    position: absolute;
    left: 0;
    bottom: 10px;
    top: 10px;
    width: 10px;
    background: url(../images/datepicker/datepicker_l.png);
}
.datepickerBorderR {
    display: none;
    position: absolute;
    right: 0;
    bottom: 10px;
    top: 10px;
    width: 10px;
    background: url(../images/datepicker/datepicker_r.png);
}
.datepickerBorderTL {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_tl.png);
}
.datepickerBorderTR {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_tr.png);
}
.datepickerBorderBL {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_bl.png);
}
.datepickerBorderBR {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: url(../images/datepicker/datepicker_br.png);
}
.datepickerHidden {
    display: none;
}
div.datepicker table {
    border-collapse:collapse;
}
div.datepicker a {
    color: #f90;
    text-decoration: none;
    cursor: default;
    outline: none;
}
div.datepicker table td {
    text-align: center;
    font: 10px $gMedium;
    color: #f90;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
div.datepicker th {
    text-align: center;
    color: #999;
    font-weight: normal;
}
div.datepicker tbody th {
    text-align: center;
    font: 10px/20px $gMedium;

    &.datepickerMonth, &.datepickerGoPrev, &.datepickerGoNext {
        font-size: 15px;
        padding: 3px 0;
        a {
            background: #ff8600;
            color: #fff;
            border: none;
        }
    }

    &.date__empty {
        @extend %inline-block;

        width: 0px !important;
    }
}
div.datepicker tbody a {
    display: block;
    padding: 1px 2px;
    background: #ebebeb;
    border: 1px solid #fff;
}
.datepickerDays a {
    width: 20px;
    line-height: 16px;
    height: 16px;
    
}
.datepickerYears a,
.datepickerMonths a{
    width: 44px;
    line-height: 36px;
    height: 36px;
    text-align: center;
}
td.datepickerNotInMonth a {
    color: #666;
    visibility: hidden;
}
tbody.datepickerDays td.datepickerSelected{

    a {
        background: #ff8600;
        color: #fff;
    }
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    a {
        background: #ff8600;
        color: #fff;
    }
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
    background: #17384d;
}
div.datepicker a:hover,
div.datepicker a:hover {
    color: #88c5eb;
}
div.datepicker td.datepickerNotInMonth a:hover {
    color: #999;
}

.datepickerSpace div {
    width: 5px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.datepickerGoNext a {
    float: right;
    width: 20px;
}
.datepickerGoPrev a {
    float: left;
    width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
    display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
    display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
    display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
    color: #333;
}
td.datepickerDisabled a:hover {
    color: #333;
}
td.datepickerSpecial a {
    background: #700;
}
td.datepickerSpecial.datepickerSelected a {
    background: #a00;
}

.datepickerViewDays thead tr {
    &:first-child {
        background: #ff8600;
        font: 15px $gMedium;

        a {
            color: #fff;
        }
    }
}
.datepickerGoNext, .datepickerGoPrev, .datepickerMonth {
    background: #ff8600;
}
.datepickerDoW, .datepickerDays {

}