:-webkit-full-screen .head, :-moz-full-screen .head,
:-ms-fullscreen .head, :full-screen .head,
:fullscreen .head {
  display: none;
}
:-webkit-full-screen .footer, :-moz-full-screen .footer,
:-ms-fullscreen .footer, :full-screen .footer,
:fullscreen .footer {
  display: none;
}
:-webkit-full-screen .photo__thumbs, :-moz-full-screen .photo__thumbs,
:-ms-fullscreen .photo__thumbs, :full-screen .photo__thumbs,
:fullscreen .photo__thumbs {
  display: none;
}
:-webkit-full-screen .menu, :-moz-full-screen .menu,
:-ms-fullscreen .menu, :full-screen .menu,
:fullscreen .menu {
  display: none;
}
