
    .head:-webkit-full-screen {
        display: none;
    }
    .footer:-webkit-full-screen {
        display: none;
    }
    .photo__thumbs:-webkit-full-screen {
        display: none;
    }
    .menu:-webkit-full-screen {
        display: none;
    }
    .fullscreen-close:-webkit-full-screen {
        display: block;
    }
    .photo__slider-add:-webkit-full-screen {
        display: none;
    }
    .photo:-webkit-full-screen {
        width: 100%;
        height: 100%;
    }
    .catalog:-webkit-full-screen, .photo:-webkit-full-screen {
        margin-top: 0;
    }

    .page:-webkit-full-screen {
        display: none;
    }

    .fslide:-webkit-full-screen {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }



    .head:-moz-full-screen  {
        display: none;
    }
    .footer:-moz-full-screen  {
        display: none;
    }
    .photo__thumbs:-moz-full-screen  {
        display: none;
    }
    .menu:-moz-full-screen  {
        display: none;
    }
    .fullscreen-close:-moz-full-screen  {
        display: block;
    }
    .photo__slider-add:-moz-full-screen  {
        display: none;
    }
    .photo:-moz-full-screen  {
        width: 100%;
        height: 100%;
    }
    .catalog:-moz-full-screen , .photo:-moz-full-screen  {
        margin-top: 0;
    }

    .page:-moz-full-screen  {
        display: none;
    }

    .fslide:-moz-full-screen  {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }




    .head:-ms-fullscreen  {
        display: none;
    }
    .footer:-ms-fullscreen  {
        display: none;
    }
    .photo__thumbs:-ms-fullscreen  {
        display: none;
    }
    .menu:-ms-fullscreen  {
        display: none;
    }
    .fullscreen-close:-ms-fullscreen  {
        display: block;
    }
    .photo__slider-add:-ms-fullscreen  {
        display: none;
    }
    .photo:-ms-fullscreen  {
        width: 100%;
        height: 100%;
    }
    .catalog:-ms-fullscreen , .photo:-ms-fullscreen  {
        margin-top: 0;
    }

    .page:-ms-fullscreen  {
        display: none;
    }

    .fslide:-ms-fullscreen  {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }



    .head:full-screen {
        display: none;
    }
    .footer:full-screen  {
        display: none;
    }
    .photo__thumbs:full-screen  {
        display: none;
    }
    .menu:full-screen  {
        display: none;
    }
    .fullscreen-close:full-screen  {
        display: block;
    }
    .photo__slider-add:full-screen  {
        display: none;
    }
    .photo:full-screen  {
        width: 100%;
        height: 100%;
    }
    .catalog:full-screen , .photo:full-screen  {
        margin-top: 0;
    }

    .page:full-screen  {
        display: none;
    }

    .fslide:full-screen  {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }



    .head:fullscreen {
        display: none;
    }
    .footer:fullscreen  {
        display: none;
    }
    .photo__thumbs:fullscreen  {
        display: none;
    }
    .menu:fullscreen  {
        display: none;
    }
    .fullscreen-close:fullscreen  {
        display: block;
    }
    .photo__slider-add:fullscreen  {
        display: none;
    }
    .photo:fullscreen  {
        width: 100%;
        height: 100%;
    }
    .catalog:fullscreen , .photo:fullscreen  {
        margin-top: 0;
    }

    .page:fullscreen  {
        display: none;
    }

    .fslide:fullscreen  {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }

    :-webkit-full-screen {
        .menu {
            display: none;
        }
    }