
#geoGraph {
    width: 100%;
    height: 300px;
}

.geo__table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #d7d7d7;

    thead {
        text-align: center;
        font-size: 15px;

        th {
            padding: 5px 0;
        }
    }

    tbody {
        text-align: left;

        tr:nth-child(odd) {
            background: #ebebeb;
        }
        tr:nth-child(even) {
            color: #b0b0b0;
        }
    }

    td, th {
        border-left: 1px solid #d7d7d7;
    }
}

.geo__pad {
    font: 40px $gMedium;
    padding: 10px 0 10px 90px;

    &.geo__pad_font_small {
        font: 25px $gMedium;
    }
}