.goal {
    @extend .wrapper;
    color: #ff8600;
    font: 20px gothamBold, sans-serif;

    margin: 40px auto 0;
}
.go__tbutton {
    @extend .login__submit;
    padding: 3px 6px;
    font-size: 15px;
}

.go__top {
    margin: 31px 0 30px
}

.go__item {
    width: 100%;
    position: relative;
    margin: 0 0 40px;
}

.go__title {
    @extend %clearfix;
    margin: 0 0 5px;
}

.go__date {
    float: left;
}

.go__max {
    float: right;
}

.go__date {
    font: 15px $gRegular;
    color: #b0b0b0;
}

.go__max {
    font: 15px $gBold;
    color: #b0b0b0;
}

.go__content {
    width: 100%;
    height: 64px;
}

.go__column {
    &.go__column_width_small {
        width: 65px;
    }
}

.go__logo {
    width: 65px;
    height: 100%;
    background: #c4c4c4 url(../images/small-sochial.png) 15px 15px no-repeat;
    
    &.go__logo_type_email {
        background-position: 16px -124px;
    }

    &.go__logo_type_totalshare {
        background-position: 15px -260px;
    }
    &.go__logo_type_totalvisits {
        background-position: 17px -397px;
    }
}

.go__line {
    width: 100%;
    height: 64px;
    position: relative;
    font-size: 0;
}
.go__percent {
    @extend %inline-block;
    height: 64px;
    position: relative;

    &.go__percent_color_orange {
        background: #ffb200;
    }
    &.go__percent_color_lime {
        background: #dcda00;
    }
    &.go__percent_color_green {
        background: #b6cc56;
    }
    &.go__percent_color_red {
        background: #ff7761;
    }
    
}

.go__percent-minus {
    @extend %inline-block;
    border: 1px solid #d3d3d3;
    border-left: none;
    height: 64px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    .lt-ie8 & {
        border: none;
    }
}

.go__counter {
    position: absolute;
    left: 50%;
    top: 23px;
    margin-left: -40px;
    color: #b0b0b0;
    font: 20px $gBold;
    z-index: 20;
}

.go__percent-count {
    position: absolute;
    bottom: -22px;
    right: -20px;
    font: 15px $gBold;
    
    &.go__percent-count_color_orange {
        color: #ffb200;
    }
    &.go__percent-count_color_lime {
        color: #dcda00;
    }
    &.go__percent-count_color_green {
        color: #b6cc56;
    }
    &.go__percent-count_color_red {
        color: #ff7761;
    }
}


.go__bottom {
    text-align: right;
    margin-top: 5px;
}

.go__edit {
    @extend %inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../images/go__edit-cancel.png) 0 0 no-repeat;
}

.go__cancel {
    @extend %inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../images/go__edit-cancel.png) 100% 0 no-repeat;
}

.go__label {
    @extend .share__label;
}

.go__select {
    @extend .mform__select;
    margin-bottom: 14px;
}
.go__input {
    @extend .share__input;
    padding: 5px;

    &.go__input_type_short {
        width: 40%;
    }
}