#locGraph {
    @extend #geoGraph;
}

.loc__table {
    width: 100%;
    border-collapse:separate;
    border: 1px solid #c6c6c6;

    margin: 20px 0;
}

.loc__table {

    tbody {
        tr:nth-child(even) {
            background: #ebebeb;
            .hover {
                background: #ff8600;
                color: #fff;
            }

        }
        tr:nth-child(odd) {
            color: #b0b0b0;
            .hover {
                color: #ff8600;
            }

        }
    }

    td {
        
        &:first-child {
            width: 16%;
        }

        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;

        &.hover {
            border-left: 1px solid #ff8600;
            border-right: 1px solid #ff8600;

        }
        &.hover-last {
            border-bottom: 1px solid #ff8600;
        }
    }
}

.loc__th {
    font: 12px $gMedium;
    
    color: #ff8600;



}

.loc__heading {
    position: relative;
    padding: 11px;

    width: 100%;
    height: 100%;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    span {
        position: absolute;
        top: -7px;
        left: -1px;
        width: 100%;
        padding: 0 1px;
        height: 9px;
        background: #ff8600;
        
        display: none;
    }

    .hover & {
        span {
            display: block;
        }
    }
}

.loc__last {
    td {
        border-bottom: 1px solid transparent;

        &.hover {
            border-color: #ff8600;
        }
    }
}

.loc__pad {
    font: 22px $gMedium;
    padding: 11px;
    position: relative;

    &.loc__pad_font_small {
        font-size: 14px;
    }
}
