@media (max-width: 480px) {
    
   
    .description__text {
        width: 90%;
        margin: auto;
    }

    .promo__title {

        &.promo__title_position_top_left {
            width: 100%;
            left: 0;
            text-align: center;
            top: 70px;
            line-height: 1;
        }
    }
    
    .helmet__image {
        width: 80%;
    }

    .head__nav {
        float: none;
        text-align: center;
        padding-top: 20px;
        margin: 0;
        
        &.head__nav_page_index {
            margin: 0;
        }
    }




}
@media (max-width: 768px) {

    .body_type_single {
        .head {
            display: none;
        }
        .footer {
            display: none;
        }
    }

    .head {
        &.head_state_open {
            height: 170px;
            + .menu {
                margin-top: 40px;
            }
        }
    }

    .catalog__item {
        width: 45%;
        margin-left: 5%;
    }

    .head__list_page_inner {
        display: none;
    }

    .head__nav_page_inner {
        position: relative;
        width: 100%;
    }

    .head__list {
        &.head__list_has_displayed {
            display: block;
            background: #fff;
            margin: 70px -20px 20px;

            border-bottom: 2px solid #c6c6c6;

            li {
                display: block;
                text-align: center;
                margin: 10px 0;
            }
        }


    }

    
    .head__nav-ico {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        width: 26px;
        height: 26px;
        background: url(../images/small__nav-ico.png) 100% 0 no-repeat;
    }
    .menu__list {
        &.menu__list_position_left {
            display: none;
        }

        &.menu__list_position_right {
            display: none;
        }
        &.menu__list_position_center {
            overflow: visible;
            float: right;
        }
    }
    .menu__counter {
        float: left;
    }

    .catalog__add {
        display: block;
    }

    .menu__list {

        li {
            margin: 2px 0 1px 0 ;
        }

        .menu__item {
            background: url(../images/menu__ico.png) 100% 0 no-repeat;
            color: transparent;
            text-indent: -9999px;
            padding: 8px 0;

            &.menu__item_ico_share {
                background-position: 100% 0;
            }

            &.menu__item_ico_download {
                background-position: 100% -37px;
            }
            &.menu__item_ico_mail {
                background-position: 100% -84px;
            }
            &.menu__item_ico_slide {
                background-position: 100% -121px;
            }

            &:hover {
                color: transparent;
                text-indent: -9999px;
                border: none;
            }

            .body_color_dark & {
                color: transparent;
                text-indent: -9999px;
            }
        }


    }

    .share__sochial-item {
        margin: 0;
    }

    .share__slider-next ,.mail__slider-next {
        right: -20px;
    }
    .share__slider-prev, .mail__slider-prev {
        left: -20px;
    }
    .share_text {
        height: 80px;
    }
    .share__sochial {
        margin-bottom: 10px;
    }
    .share {
        width: 100%;
        left: 0 !important;
        margin-left: 0 !important;
    }
    .share__wrapper {
        padding: 40px 30px;
    }

    .menu_position_sticky {

        width: 100%;
        padding: 20px 0;
        position: fixed;
        top: 0;
        height: 20px;
        z-index: 100;
        background: #fff;
        margin: 0;

        -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);



        .body_color_dark & {
            background: #1d1d1b;
        }
    }
    
    .menu__wrapper {

    }
    
    .photo {
        margin-top: 80px;
    }
    

}
@media (max-width: 992px) {
    .photo__images-prev {
        left: 40px;
        top: 30%
    }

    .photo__images-next {
        right: 40px;
        top: 30%
    }
}
@media (min-width: 1382px) {

    .menu__wrapper {


        .menu_position_sticky & {
            max-width: 870px;
            padding: 0 20px;
        }
    }

}
