%clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
    .ie7 & {
        zoom: 1;
    }
}

$fontColor: #fff;
$fontColorGray: #666;
$colorOrange: #ff8600;


%inline-block {
	display: inline-block;
	.ie7 & {
		display: inline;
        zoom: 1;
	}
}


%box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;      
          border-radius: $radius;
}

@mixin justify {
    font-size: 1px;
    line-height: 0;
    text-align: justify;

    &:after {
        display: inline-block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        width: 100%;

        content: '';
    }

    .lt-ie8 & {
        text-align-last: justify;

        zoom: 1;
    }
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

.wrapper {
    @extend %clearfix;

    position: relative;
    max-width: 870px;
    padding: 0 20px;
    margin: auto;
}
